<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fallr Blog</title>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/blog.css" />
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1 class="main-header__title">Fallr Authors</h1>
            <nav class="nav nav-margin__right">
                <ul class="nav-list">
                    <li class="nav-list__item"><a href="/posts/">Posts</a></li>
                    <li class="nav-list__item"><a href="/categories/">Categories</a></li>
                    <li class="nav-list__item"><a href="/tags/">Tags</a></li>
                    <li class="nav-list__item"><a href="/authors/">Authors</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <form class="post-form" action="/authors/add-author" method="POST">
                <ul class="post-form__list">
                    <label class="post-form__field">Author:
                        <input type="text" name="name" placeholder="Enter author here" required /></label>
                </ul>
                <button class="post-form__button" type="submit">Submit</button>
            </form>
            <h2 th:each="author: ${authorsAttribute}">
                <a th:text="${author.name}" th:href="|/authors/${author.id}|">Author name</a>
            </h2>
        </div>
        <footer class="main-footer">
            <small class="main-footer__copy">&copy;2019</small>
        </footer>
    </div>
</body>

</html>