<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fallr Blog Tags</title>
    <link rel="stylesheet" href="" />
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1 class="main-header__title">Fallr Tags</h1>
            <nav class="nav nav-margin__right">
                <ul class="nav-list">
                    <li class="nav-list__item"><a href="/all-posts/">Posts</a></li>
                    <li class="nav-list__item"><a href="/all-categories/">Categories</a></li>
                    <li class="nav-list__item"><a href="/all-postTags/">Tags</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <form class="post-form" action="/all-postTags/add-postTag" method="POST">
                <ul class="post-form__list">
                    <label class="post-form__field">Tag:
                        <input type="text" name="name" placeholder="Enter Tag here" required /></label>
                </ul>
                <button class="post-form__button" type="submit">Submit</button>
            </form>
            <h2 th:each="postTag: ${postTagsAttribute}">
                <a th:text="${postTag.name}" th:href="|/all-postTags/${postTag.id}|">Category name</a>
            </h2>
        </div>
        <footer class="main-footer">
            <small class="main-footer__copy">&copy;2019</small>
        </footer>
    </div>
</body>

</html